In [2]:
a = input("1st number")
b = input("2nd number")
print(f"You entered {a}, {b}")

1st number234
2nd number5436
You entered 234, 5436

In [3]:
pets = ['ant', 'bat', 'cod', 'dog', 'elk']
lst = [0, 1, 'two', 'three', [4, 'five']]
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
ant in pets

NameError: name 'ant' is not defined

In [5]:
'ant' in pets

True

In [6]:
3 not in lst

True

In [7]:
lst + pets = lspets

SyntaxError: can't assign to operator (<ipython-input-7-7624c4b6ff75>, line 1)

In [8]:
lst + pets

[0, 1, 'two', 'three', [4, 'five'], 'ant', 'bat', 'cod', 'dog', 'elk']

In [9]:
3 * lst

[0,
 1,
 'two',
 'three',
 [4, 'five'],
 0,
 1,
 'two',
 'three',
 [4, 'five'],
 0,
 1,
 'two',
 'three',
 [4, 'five']]

In [10]:
num[3]

NameError: name 'num' is not defined

In [11]:
nums[3]

3

In [12]:
pets[2:4]

['cod', 'dog']

In [13]:
max(pets)

'elk'

In [14]:
sum(pets)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
k = [24,5,8,2,33,72]

In [16]:
k2 = k[1:5]

In [17]:
k2

[5, 8, 2, 33]

In [18]:
sum(k2)

48

In [19]:
sum(k[1:-1])

48

In [20]:
spam = 'cat'

In [21]:
spam[0]

'c'

In [22]:
spam[0] = "a"

TypeError: 'str' object does not support item assignment

In [23]:
lst=[]
lst.append(1)
lst.append(2)
lst.append(3)

In [24]:
lst

[1, 2, 3]

In [28]:
lst.append(4)
lst.append(4)
lst.append(-2)

In [29]:
lst

[1, 2, 3, 4, 4, 4, -2]

In [30]:
lst.sort()

In [31]:
lst

[-2, 1, 2, 3, 4, 4, 4]

In [32]:
lst.remove(4)

In [33]:
lst

[-2, 1, 2, 3, 4, 4]

In [34]:
lst.reverse()

In [35]:
lst

[4, 4, 3, 2, 1, -2]

In [48]:
k=[]
a = int(input("숫자를 입력하세요 : "))
b = int(input("숫자 뭐여 : "))
c = int(input("아 숫자 뭔디 : "))
k.append(a)
k.append(b)
k.append(c)
print(f'sum : {sum(k)}')
print(f'max : {max(k)}')
print(f'min : {min(k)}')

숫자를 입력하세요 : 546
숫자 뭐여 : 2
아 숫자 뭔디 : 157965644523366
sum : 157965644523914
max : 157965644523366
min : 2

In [49]:
j = [int(input())]
j.append(int(input()))
j.append(int(input()))

print(f'sum : {sum(j)}')
print(f'max : {max(j)}')
print(f'min : {min(j)}')

5456
2
79
sum : 5537
max : 5456
min : 2

In [52]:
lst = ['a', 'b', 'c']

In [61]:
lst2 = ':'.join(lst)

In [62]:
lst2

'a:b:c'

In [63]:
lst2.split(':')

['a', 'b', 'c']

In [64]:
p = """life is too short
you need python
"""

In [67]:
p.split()

['life', 'is', 'too', 'short', 'you', 'need', 'python']

In [68]:
sent = """
여러분 안녕하세요? 
리나스테이블 정리나입니다. 오늘은 정말 쉽게 만들 수 있는 토마토 소스를 소개해드릴게요. 
방울 토마토로 아주 빠르게 그리고 건강하게 만들 수 있는 소스예요. 
이제 토마토 소스 사지 마시고 만들어드세요~ 

[주요재료(2인분)] 
파스타 면 140g (1인분: 70g) 
방울 토마토 15개 
마늘 5개 
바질 1팩 
올리브오일, 소금, 후추 

1. 면을 제대로 계량한다. 
엄지와 검지로 면을 쥐었을 때 50원정도 크기면 1인분 
2. 면은 (포장지에) 적힌 시간보다 1-2분 정도 덜 삶고 
마지막에 면수(면 삶은 물)와 함께 소스에서 마저 익힌다 
3. 팬에 올리브오일을 두르고 마늘을 볶아 마늘향을 낸다. 
4. 방울토마토와 바질 줄기를 넣고 중약불에서 익힌다. 
5. 3분정도 지난 후, 토마토를 뭉근히 눌러 으깨 준다. 
6. 1-2분정도 덜 익힌 면을 건져 소스 팬에 면수와 함께 넣는다. 
7. 소금, 후추 간을 한다. 
8. 불을 끄고 바질 잎을 넣고 잘 섞어 마무리한다. 

♥ 늘 더 노력하는 리나스테이블이 되겠습니다! 감사합니다!! ♥
"""

In [72]:
len(sent.replace(' ',''))

421

In [83]:
len(sent.split())

131

In [84]:
l = set(sent)
le = list(l)
len(le)

156

In [75]:
data = [['john',1,20], ['Camp', 3, 24], ['Jason', 2, 22]]
print(data[0][2])
print(data[2][0])

20
Jason

In [80]:
ha = '가나1봐자3나자5우라'

In [81]:
list(ha)

['가', '나', '1', '봐', '자', '3', '나', '자', '5', '우', '라']

In [82]:
tuple(ha)

('가', '나', '1', '봐', '자', '3', '나', '자', '5', '우', '라')

In [95]:
lst = [1,3,4,2,4,5]
list(set(lst))[-2]

4

In [97]:
#sort 매쏘드는 따로 저장할 필요가 없음.
j = [1,424,3]
j.sort()
j

[1, 3, 424]

In [98]:
s1 = {1,3,5,2}
s2 = {1,9,2,56}
s3 = {3,1,2,44}

In [101]:
s1.intersection(s2)

{1, 2}

In [102]:
s1.intersection(s2,s3)

{1, 2}

In [103]:
print(s1-s2)

{3, 5}

In [104]:
s1.union(s2)

{1, 2, 3, 5, 9, 56}

In [105]:
s1.union(s2,s3)

{1, 2, 3, 5, 9, 44, 56}

In [106]:
atc1 = """
here was no sign of a breakthrough in the Brexit deadlock Wednesday when UK lawmakers failed to agree on an alternative to Theresa May's beleaguered plan even as she offered to resign in a desperate attempt to save it.

Facing intense pressure from her fractured party, the British Prime Minister said she would step down if and when her Brexit deal was delivered. There was a desire for "a new approach, and new leadership," she told a meeting of Conservative lawmakers.
Hours later, members of the House of Commons voted on a range of measures designed to break the impasse over Brexit -- but failed to agree on any of them.
The day ended in chaos as MPs bickered over whether to hold another day of debate under an unprecedented process outside the control of the government.
"""

atc2 = """
Greenland's largest and most critical glacier, Jakobshavn, is gaining ice, according to NASA researchers.

Although this finding is surprising and temporarily good news for the glacier, limiting its contribution to sea level rise, the reason for the ice accumulation might spell disaster in the long run.
For two decades, Jakobshavn sustained remarkably consistent thinning that scientists thought would continue, if not accelerate, due to large-scale warming of the polar atmosphere and oceans -- but that rate dramatically slowed in 2014, and the glacier actually thickened between 2016 and 2017 and again between 2017 and 2018, according to a study published Monday in the journal Nature.
"At first we didn't believe it," said Ala Khazendar, the lead NASA scientist on the study. "We had pretty much assumed that Jakobshavn would just keep going on as it had over the last 20 years."
"""

In [112]:
worldlist1 = set(atc1.split())
worldlist2 = set(atc2.split())

In [114]:
rst = worldlist1.intersection(worldlist2)
print(rst)

{'of', 'in', 'the', 'but', '--', 'would', 'to', 'on', 'for', 'as', 'and', 'said', 'a', 'if', 'over'}

In [115]:
d = {'나이' : 30}

In [116]:
print(d['나이'])

30

In [117]:
d['이름'] = '김신우'

In [118]:
print(d)

{'나이': 30, '이름': '김신우'}

In [120]:
d2 = {'이름':'k', 'age': '33', 'gender': 'F'}
print(d2['이름'] + d2['age'])

k33

In [121]:
d3 = {'name':'pey', 'phone':'01199993323', 'birth':'1118'}

In [122]:
print(d3.items())

dict_items([('name', 'pey'), ('phone', '01199993323'), ('birth', '1118')])

In [123]:
d_list = list(d3.items())
d_list[-1]

('birth', '1118')

In [125]:
print(d3.keys())

dict_keys(['name', 'phone', 'birth'])

In [126]:
ppl = {1:{'a':10, "b":20}, 2:{'c':30, 'd':40}}

In [129]:
ppl[1]['b']

20

In [130]:
ppl[3] = {'f':4, 'g': 5,}
print(ppl)

{1: {'a': 10, 'b': 20}, 2: {'c': 30, 'd': 40}, 3: {'f': 4, 'g': 5}}

In [131]:
ppl['list'] = {10,'a'}

In [132]:
print(ppl)

{1: {'a': 10, 'b': 20}, 2: {'c': 30, 'd': 40}, 3: {'f': 4, 'g': 5}, 'list': {'a', 10}}

In [133]:
ppl['9'] = {'a':{'b':3}}

In [134]:
print(ppl)

{1: {'a': 10, 'b': 20}, 2: {'c': 30, 'd': 40}, 3: {'f': 4, 'g': 5}, 'list': {'a', 10}, '9': {'a': {'b': 3}}}

In [135]:
print(ppl['9']['a']['b'])

3

In [136]:
dic = {'John':{'Grade':1, 'Age':20}, 'Camp':{'Grade':3, 'Age':24}, 'Jason':{'Grade':2, 'Age':22}}

In [137]:
dic

{'John': {'Grade': 1, 'Age': 20},
 'Camp': {'Grade': 3, 'Age': 24},
 'Jason': {'Grade': 2, 'Age': 22}}

In [138]:
print(dic['John']['Age'])
print(dic['Camp']['Grade'])

20
3

In [140]:
idol = {
    '여자':{
        'Red Velvet':{
            '노래':'빨간 맛', 
            '멤버':['웬디','아이린','슬기','조이']
        },
    'TWICE':{
        '노래':'Cheer Up', 
        '멤버':['나연','정연','모모']
    }
    },
    '남자':{
        'BTS':{
            '노래':'피 땀 눈물',
            '멤버':['RM','슈가','진']
        }
    }
}

In [141]:
idol['여자']['Red Velvet']['노래']

'빨간 맛'

In [142]:
idol['남자']['BTS']['멤버']

['RM', '슈가', '진']